.places{
  max-width: 984px;
  font-family: 'Inter', Arial, sans-serif;
  
}

@media (max-width: 1024px){
	.places{
		max-width: 928px;
		
	}
}


@media (max-width: 768px){
	.places{
		max-width: 720px;
		justify-items: center;
	}
}



@media (max-width: 375px){
	.places{
		max-width: 375px;
		
	}
}

