.lead{
  display: flex;
  flex-direction: column;
  max-width: 985px;
  font-family: 'Inter', Arial, sans-serif;
}

@media (max-width:1024px){
  .lead{
    max-width: 928px;
  }
}


@media (max-width: 768px){
	.lead{
		max-width: 768px;
	}
}

