.video__duration{
  width: 44px;
  margin: 0 0 12px 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 0.3em;
  color: #FFFFFF;
}

.video__duration:hover{
  opacity: 0.7;
  transition: 0.3s ease;
}


@media (max-width: 768px){
	.video__duration{
		margin: 0 0 8px 30px;
	}
}

@media (max-width: 320px){
	.video__duration{
		margin: 0 0 8px 16px;
	}
}