.intro__text{
  list-style-type: none;
  padding: 0;
  margin: 12px 18px 0 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
}

@media (max-width: 1024px){
	.intro__text{
		margin-top: 24px;
	}
}



@media (max-width: 768px){
	.intro__text{
		margin-top: 24px;
	}
}



@media (max-width: 375px){
	.intro__text{
		font-size: 12px;
    line-height: 19px;
    margin-top: 34px;
  }

}


