.intro{
  max-width: 985px;
}

@media (max-width:1024px){
  .intro{
	max-width: 928px;
	padding: 0 24px 0;
  }
}


@media (max-width: 768px){
	.intro{
		max-width: 720px;
		padding: 0 24px 0;
	}
}


@media (max-width: 375px){
	.intro{
		max-width: 343px;
		padding: 0;
	}
}



@media (max-width: 320px){
	.intro{
		width: 292px;
	}
}