.video__container{
  max-width: 1184px;
  margin: 65px auto 0;
  display: flex;
  justify-content: space-between;
}


@media (max-width: 768px){
	.video__container{
		margin: 52px auto 0
	}
}


@media (max-width: 700px){
	.video__container{
    flex-wrap: wrap;
    flex-direction: column;

	}
}



@media (max-width: 375px){
	.video__container{
		margin: 25px auto 0;
  }
  
}